.sc-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.sc-container img{
   width: 200px;
   margin: 2rem 0;


}
.sc-container h1{
   margin-bottom: 10px;
   font-size: 2.8rem;
}
.sc-container p{
   max-width: 600px;
   font-size: .97rem;
   text-align: center;
   margin: .5rem 0;
}
.sc-btn{
   padding: 12px 20px;
   border-radius: 2rem;
   background: var(--text-color);
   color: var(--bg-color);
   font-size: 1rem;
   font-weight: 500;
}