@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}


main{
  background-image: url("./image/img4.jpg");
  background-size: 35%;
  background-position: center;
  height: 100vh; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.blur{
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background: rgba(95, 68, 22, 0.542); 
  border-radius: 3.3rem;
  display: flex;
  overflow: hidden;
  
}

.outer-box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: rgba(189, 163, 103, 0.448);
  border-radius: 3.3rem;
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.186), 
  30px 30px 40px rgba(0, 0, 0, 0.186), 
  0px 30px 40px rgba(0, 0, 0, 0.079); 
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.7s ease-in-out;
}

form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 130px;
  margin-left: -0.9rem;
}

.logo h2 {
  font-size: 1.4rem;
  margin-top: -9px;
  letter-spacing: -0.5px;
  color: #532019;
}

.heading{
  text-align: center;
}

.heading1{
  text-align: center;
}

.heading h4 {
  margin-top: -50px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #28300e;
  
}

.heading1 h4 {
  margin-top: -50px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #28300e;
  
}

.heading1 h6 {
  color: #dddbb5;
  font-weight: 400;
  font-size: 0.78rem;
  display: inline;

}

.heading h6 {
  color: #dddbb5;
  font-weight: 400;
  font-size: 0.78rem;
  display: inline;

}

.toggle {
  color: #90cb3e;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.3s;
  display: inline;
  
}

.toggle:hover {
  color: #99ec47;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bab38d;
  padding: 0;
  font-size: 0.95rem;
  font-weight: bold;
  color: #29170c;
  transition: 0.4s;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #d2d0a0;
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: #23180a;
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #461710;
  color: #e1d8a9;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  font-weight: 450;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.sign-btn:hover {
  background-color: #372012;
}

.text {
  
  text-align:center ;
}
.text1 {
  text-align:center;
  color: #21110a;
  font-size: .8rem;
}

.text a {
  font-size:small;
  color: #143752;
  transition: 0.3s;
}

.text a:hover {
  color: #334f73;
}

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 55%;
}

main.sign-up-mode .carousel {
  left: 0%;
}

.carousel {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: #e0cf84;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.6s ease-in-out;
}

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.image {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.2s, transform 0.4s ease-in-out;
}

.img-1 {
  transform: translate(0, -50px);
}

.img-2 {
  transform: translateX(50px);
}

.img-3 {
  transform: translateY(50px);
}

.image.show {
  opacity: 1;
  transform: none;
}

.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
}

.text-group h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}


.bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  bottom: 20px;
}

.bullets span {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #e2e67f;
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;

}

.bullets span.active {
  width: 1.1rem;
  background-color: #224f09e6;
  border-radius: 1rem;
}

@media (max-width: 850px) {

  .blur {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .outer-box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.6s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .carousel {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .blur {
    border-radius: 2rem;
  }

  .outer-box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .carousel {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}

.input-wrap1 {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.google-icon {
  position: absolute;
  left: 35px; /* Adjust position inside the button */
  top: 57%;
  transform: translateY(-50%);
  
  width: 20px; /* Icon size */
  height: 20px;
  pointer-events: none; /* Prevent interaction */
}

.g-signin2{
  display: none;
}

.google-sign-btn1 {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #461710;
  color: #e1d8a9;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s;
  padding-left: 10px;


}

.google-sign-btn1:hover {
  background-color: #372012;
}

.input-wrap1 {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 18px; 
}

.facebook, .phone {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer; 
}
